* {
  font-family: "Segoe UI", sans-serif;
}

.form-wrapper {
  display: grid;
  gap: 1rem;
  justify-items: center;
}

form, ngxfb-form, fieldset {
  display: grid;
  gap: 1.5rem;
}

.form-actions {
  display: flex;
  gap: 1rem;
}

.inline-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 0.5rem;
}
